
.container-section-1 {
    height: 100vh;
    background-image: url(../../Image/BannerSection1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.transparent-bg {
    width: 100%;
    height: 100%;
    background-color: #fafaf142;
    position: relative;
}

.container-banner {
    position: absolute;
    color: var(--white);
    right: 100px;
    top: 200px;
    max-width: 600px;
    background-color: var(--green);
    padding: 24px 36px;
}

.container-banner-desc h4{
    font-weight: lighter;
    letter-spacing: 2px;
}

.container-banner-desc h1{
    position: relative;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 900;
}

.container-banner-desc h1 span{
    position: absolute;
    font-size: 28px;
}

.container-banner-desc p {
    font-weight: 100;
    line-height: 24px;
}

.button-banner {
    padding: 12px 24px;
}

.button-banner a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--green);
}