/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: 'montserrat_alternatesregular';
  src: url('./Assets/Montserrat-Regular.otf'), 
       url('./Assets/Montserrat-Bold.otf');
}

body,html {
  margin: 0;
  background-color: var(--grey);
}

* {
  box-sizing: border-box;
  font-family: 'montserrat_alternatesregular';
}

:root {
  --green: #586A58;
  --grey: #FAFAF1;
  --white: #F6F6F6;
  --yellow: #EBDD29;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #99A495;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  /* background: var(--blueHover); */
}

